* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--standard-background-color);
}

/** Header */
header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--header-footer-background-color);
}

header div {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 20px 20px;
}

header img {
    width: 215px;
}


/** Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    gap: 80px;
    padding: 60px 60px;
}

h1 {
    font-family: 'Figtree', latin;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 100%;
    color: var(--standard-fonts-color);
}

h2 {
    font-family: 'Figtree', latin;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    text-align: left;
    color: var(--standard-fonts-color);
    max-width: 90%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.preview_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1170px;
    width: 100%;
    gap: 1rem;
}

.preview_section>button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 1rem;
    cursor: pointer;
}

.preview_section>button:hover {
    background: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.10),
        0px 0px 5px rgba(255, 255, 255, 0.09),
        0px 0px 11px rgba(255, 255, 255, 0.08),
        0px 0px 19px rgba(255, 255, 255, 0.07),
        0px 0px 30px rgba(255, 255, 255, 0.06),
        0px 0px 43px rgba(255, 255, 255, 0.05),
        0px 0px 59px rgba(255, 255, 255, 0.04),
        0px 0px 77px rgba(255, 255, 255, 0.03),
        0px 0px 97px rgba(255, 255, 255, 0.02),
        0px 0px 120px rgba(255, 255, 255, 0.01),
        inset 0px 0px 80px 6px rgba(0, 0, 0, 1.00);
    ;

}

.img_preview {
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    border: 2px solid var(--photo-border-color);
}

.full_view_dialog {
    background-color: var(--dialog-background-color);
}

.full_view_dialog_opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 64px;
    gap: 48px;
    border-radius: 40PX;
    border: none;
    margin: auto;
    background-color: var(--dialog-background-color);
}

.full_view_dialog_opened::backdrop {
    backdrop-filter: saturate(90%) brightness(40%);
}

.full_view_top {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 560px;
    justify-content: space-between;
    color: var(--pageindicator-fonts-color);
}

.full_view_top button {
    text-align: center;
    width: 40px;
    height: 40px;
    background: var(--carousel-navigation-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.chosen_photo {
    width: 100%;
    max-width: 560px;
    overflow: hidden;
}

.full_view_nav {
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
}

.full_view_nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: none;
    /* border: none; */
    border-radius: 50%;
}

.page_indicator {
    font-family: 'Figtree', latin;
    font-weight: 500;
    font-size: 1rem;
    color: var(--pageindicator-fonts-color);
}


/** Footer */
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    gap: 16px;
    border-top-left-radius: 60% 30px;
    border-top-right-radius: 60% 30px;
    background-color: var(--header-footer-background-color);
}

footer p {
    font-family: 'Figtree', latin;
    font-weight: 400;
    line-height: 100%;
    font-size: 1rem;
    color: var(--copyright-fonts-color);
}


@media screen and (min-width: 769px) and (max-width: 1279px) {

    main {
        padding: 40px 40px;
    }

    h1 {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    main {
        margin: 0 auto;
        padding: 40px 20px;
        gap: 56px;
    }

    h1 {
        font-size: 3rem;
    }

    header div {
        justify-content: center;
        padding: 20px 0;
    }

    .full_view_dialog_opened {
        padding: 32px 16px;
    }

    .chosen_photo {
        height: 100%;
        max-height: 375px;
        object-fit: cover;
        overflow: hidden;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {

    main {
        margin: 0 auto;
        padding: 40px 0;
        gap: 56px;
    }

    h1 {
        font-size: 3rem;
        max-width: 315px;
    }

    header div {
        justify-content: center;
        padding: 20px 0;
    }

    .full_view_dialog_opened {
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100dvh;
        padding: 32px 16px;
        margin: 0;
        border-radius: 0;
    }

    .full_view_top button {
        width: 30px;
        height: 30px;
    }

    .chosen_photo {
        height: 100%;
        max-height: 375px;
        object-fit: cover;
        overflow: hidden;
        padding: 0;
    }
}